development:
  adapter: mysql
  database: gigblender_development
  # database: gigblender_test
  username: root
  password:
  host: 127.0.0.1

test:
  adapter: mysql
  database: gigblender_test
  username: root
  password:
  host: 127.0.0.1
